.button-primary {
    -fx-background-color: #2ecc71;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button-combobox {
    -fx-background-color: #c0d2ef;
    -fx-text-fill: white;
    -fx-font-weight: bold;

}

.button-danger {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button-secondary {
    -fx-background-color: #34495e;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}


/*Estilo de tabla  */
.tabla-moderna {
    -fx-background-color: transparent;
    -fx-border-color: #dcdde1;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 5;
}

/*Parte de arriba  */
.table-view .column-header-background {
    -fx-background-color: #2c3e50;
    -fx-background-radius: 8 8 0 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-size: 40; /* Más espacio en la parte azul de arriba*/
}

.table-view .column-header .label {
    -fx-text-fill: white; /* El color del texto de la columa */
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

/*El intercambio de color de las celdas */
.table-row-cell:odd {
    -fx-background-color: #ffffff;
}

.table-row-cell:even {
    -fx-background-color: #f8f9fa;
}

/* Cambio de color a la hora de pasar el mouse por encima de la tabla*/
.table-row-cell:hover {
    -fx-background-color: #e1f5fe;
}

/* Selección de un objeto en la tabla */
.table-row-cell:selected {
    -fx-background-color: #3498db;
}

.table-row-cell:selected .text {
    -fx-fill: white; /*Cambio de color de texto al seleccionar*/
}

/*Quita las líneas de la tabla*/
.table-view .cell {
    -fx-border-color: transparent -fx-table-cell-border-color transparent transparent;
    -fx-padding: 10; /* Espacio de los datos en la tabla*/
}

.root {
    -fx-background-color: linear-gradient(to bottom right, #b0d2f6, #ffffff);
}
